.icon-preview.ar-icon-medium i{
  font-size: 14pt;
}

.ar-same-width-1 {
  width: 173px !important;
}

.dropdown-toggle.ar-five-paddings {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.circle.ar-force-round {
  border-radius: 100%;
}

.ar-fs-lg {
  font-size: 24px !important;
}

.ar-footer-icon {
  float:right;
  padding-top:6px;
}

.ar-red-footer-icon {
  font-size: 14px;
  color: #db2b0f;
}

.dropdownjs .form-control[readonly] {
  background-color: transparent;
}

.list-group-item.ar-no-padding-lr {
  padding: 0 0px !important;
  cursor: pointer;
}

.ar-no-padding-lr:hover {
  background: #e5e5e5;
}

.ar-pd-r-10 {
  padding-right: 10px !important;
}

.ar-fs-rd {
  font-size: 17px !important;
  margin-bottom: 0px !important;
}

.ar-fs-rd-2 {
  font-size: 12px !important;
}

.ar-wh-rd {
  width: 35px !important;
  height: 35px !important;
  line-height: 35px !important;
  background: #0f9d58 !important;
}

.ar-wh-rd-2 {
  width: 35px !important;
  height: 35px !important;
  line-height: 35px !important;
  background: #5264ae !important;
}

.ar-ar-pos {
    left: 90%;
    top: 37%;
    position: absolute;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
  color: #5c5c5c;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 1024px;
  padding: 0 5px;
}
.container .text-muted {
  margin: 20px 0;
}
