

 <div class="col-lg-6" style="margin-left: 25%;">
    <div class="main-box">
        <header class="main-box-header clearfix">
            <h2 translate>Registration</h2>
        </header>
        <div class="main-box-body clearfix">
            <form role="form">
                <!-- EMAIL -->
                <div class="form-group">
                    <label for="inputEmail" translate>Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="{{::emailPlaceholder}}" ng-model="user.email">
                </div>

                <!-- PASSWORD -->
                <div class="form-group">
                    <label for="inputPassword" translate>Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="{{::passwordPlaceholder}}" ng-model="user.password">
                </div>

                <!-- REPEAT PASSWORD -->
                <div class="form-group">
                    <label for="inputPasswordRepeat" translate>Password repeat</label>
                    <input type="password" class="form-control" ng-model="user.passwordrepeat" id="inputPasswordRepeat" placeholder="{{::('Repeat to be sure' | translate)}}">
                </div>

                <label for="gameclass" class="col-lg-2 control-label" translate>Game class</label>
                <div class="form-group" >
                    

                    
                    <nwn-class-choose-input gameclass="user.gameclass"></nwn-class-choose-input>
                    
                    
                </div>

                


                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button class="btn btn-default" translate>Clear</button>
                        <button type="submit" class="btn btn-primary btn-success" translate ng-click="reg(user)">Send</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>