<section id="cd-timeline" class="cd-container">
     

     <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture">
               <i class="fa fa-thumbs-up fa-2x"></i>
          </div>


          <!-- float:right;top:-106px;left:-60px; -->
          <div class="col-lg-10 col-md-8 col-sm-8">
               <div id="user-profile" style="padding-right:0px;float:left;width:194px;">
                    <div class="main-box clearfix">
                         <header class="main-box-header clearfix" style="font-size:12px;min-height:34px;padding: 0px 20px;">
                              <h2>Truthatenvy</h2>
                         </header>
                         <div class="main-box-body clearfix" style="padding-bottom:3px;">
                              <div class="profile-status" style="padding-bottom: 4px;">
                                   <i class="fa fa-circle"></i> Online
                              </div>
                              <img style="width:80px;height:80px;margin-bottom:5px;" src="http://lorempixel.com/output/people-q-c-120-120-3.jpg" alt="" class="profile-img img-responsive center-block">
                              <div class="profile-label" style="font-size:12px;">
                                   <span class="label label-danger">Admin</span>
                              </div>
                              <div class="profile-stars">
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star-o"></i>
                                   <div style="font-size:12px;">Super User</div>
                              </div>
                              <div class="profile-since" style="font-size:10px;">
                                   Member since: Jan 2012
                              </div>
                              <div class="profile-details" style="padding: 5px 0; margin: 5px 0;">
                              <ul class="fa-ul">
                                   <li>
                                        <i class="fa-li fa fa-comment"></i>Posts: <span>828</span>
                                   </li>
                              </ul>
                              </div>
                              <div class="profile-message-btn center-block text-center">
                                   <i class="fa fa-envelope"></i>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="cd-timeline-content" style="padding-left:0px;float:right;width:295px;height:286px;">
                    
                    <p>Добро пожаловать на обновленный форум самого старейшего шарда Neverwinter Nights в Рунете!</p>
                    <!-- <div class="clearfix">
                         <a class="btn btn-primary pull-right">Read more</a>
                    </div> -->
                    <span class="cd-date ar-inc-mrg">11:59</span>
               </div>
          </div>


     </div>

     <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture">
               <i class="fa fa-thumbs-up fa-2x"></i>
          </div>


          <!-- float:right;top:-106px;left:-60px; -->
          <div class="col-lg-10 col-md-8 col-sm-8">
               <div id="user-profile" style="padding-right:0px;float:left;width:194px;">
                    <div class="main-box clearfix">
                         <header class="main-box-header clearfix" style="font-size:12px;min-height:34px;padding: 0px 20px;">
                              <h2>Truthatenvy</h2>
                         </header>
                         <div class="main-box-body clearfix" style="padding-bottom:3px;">
                              <div class="profile-status" style="padding-bottom: 4px;">
                                   <i class="fa fa-circle"></i> Online
                              </div>
                              <img style="width:80px;height:80px;margin-bottom:5px;" src="http://lorempixel.com/output/people-q-c-120-120-3.jpg" alt="" class="profile-img img-responsive center-block">
                              <div class="profile-label" style="font-size:12px;">
                                   <span class="label label-danger">Admin</span>
                              </div>
                              <div class="profile-stars">
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star-o"></i>
                                   <div style="font-size:12px;">Super User</div>
                              </div>
                              <div class="profile-since" style="font-size:10px;">
                                   Member since: Jan 2012
                              </div>
                              <div class="profile-details" style="padding: 5px 0; margin: 5px 0;">
                              <ul class="fa-ul">
                                   <li>
                                        <i class="fa-li fa fa-comment"></i>Posts: <span>828</span>
                                   </li>
                              </ul>
                              </div>
                              <div class="profile-message-btn center-block text-center">
                                   <i class="fa fa-envelope"></i>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="cd-timeline-content" style="padding-left:0px;float:right;width:295px;height:286px;">
                    
                    <p>Вас приветствует команда Сиалы!</p>
                    <!-- <div class="clearfix">
                         <a class="btn btn-primary pull-right">Read more</a>
                    </div> -->
                    <span class="cd-date ar-inc-mrg" style="right: -50%;">12:02</span>
               </div>
          </div>


     </div>
    
</section>