<div ng-controller="ForgotPasswordCtrl">

<div ng-switch="msg.title">
    <div ng-switch-when="false">
		<form class="form-horizontal">
		    <fieldset>

		    <legend translate>Forgot password</legend>

		   		<div class="form-group">
		            
		            <label for="inputEmail" class="col-lg-2 control-label" translate>Email</label>

		            <div class="col-lg-10">
		                <input type="email" class="form-control" id="inputEmail" placeholder="{{::emailPlaceholder}}" ng-model="user.email">
		            </div>

		        </div>


		        <div class="form-group">
		            <div class="col-lg-10 col-lg-offset-2">
		                <button type="submit" class="btn btn-primary btn-success" translate ng-click="resetPassword(user)">Submit</button>
		            </div>
		        </div>


		    </fieldset>

		</form>	
	</div>

	<div ng-switch-default>
		
		<h2>{{msg.title}}</h2>
    	<p>{{msg.text}}</p>

	</div>



</div>


	
</div>