<div class="col-lg-6" style="margin-left: 25%;" ng-controller="ForgotPasswordCtrl">
    <div class="main-box">
        <header class="main-box-header clearfix">
            <h2 translate>Forgot password</h2>
        </header>
        <div class="main-box-body clearfix">

        	<div ng-switch="msg.title">
    			<div ng-switch-when="false">
	            <form role="form">


	            	<label for="inputEmail" translate>Email</label>
	                <div class="input-group">
	                	
						<input type="email" class="form-control" id="inputEmail" placeholder="{{::emailPlaceholder}}" ng-model="user.email">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-primary btn-success" translate ng-click="resetPassword(user)">Submit</button>
						</span>
					</div>

	            </form>
	        </div>
	        <div ng-switch-default>
		
				<h2>{{msg.title}}</h2>
		    	<p>{{msg.text}}</p>

			</div>

        </div>
    </div>
</div>