<div class="col-lg-6 col-md-6 col-sm-6">
	<div class="main-box feed">
		<header class="main-box-header clearfix">
			<h2 class="pull-left">Особенности Сиалы</h2>
		</header>
		<div class="main-box-body clearfix" style="padding-left:15px;">
			<ul>
				<li class="clearfix ar-thread-row">
					<div class="img" style="font-size: 20px;">
						<i class="glyphicon glyphicon-pushpin"></i>
						<div>
							<span class="label label-primary" style="font-size:10px;">new</span>
						</div>
					</div>
					<div class="title">
						<a href="#">Общая информация о шарде</a>
						<div>Как подключиться, какую версию клиента использовать, где скачать хакпаки и многое-многое другое</div>
					</div>
					<div class="post-time">
						Сегодня в 15:12 <a href="#">DM Астрея</a> 
					</div>
					<div class="time-ago ar-ta-fx">
						<i class="fa fa-clock-o"></i> 5 min.
						<div>
							<i class="fa fa-comments"></i> <a href="javascript:;">3</a>
						</div>
						<div>
							<i class="fa fa-heart" style="color: red;"></i> <a href="javascript:;">11</a>
						</div>
					</div>
				</li>

				<li class="clearfix ar-thread-row">
					<div class="img" style="font-size: 20px;">
						<i class="glyphicon glyphicon-circle-arrow-right"></i>
					</div>
					<div class="title">
						<a href="#">Изменения в балансе</a>
						<div>Все изменения, касающиеся классов, рас, фитов и умений персонажей</div>
					</div>
					<div class="post-time">
						Сегодня в 5:22 <a href="#">truthatenvy</a> 
					</div>
					<div class="time-ago ar-ta-fx">
						<i class="fa fa-clock-o"></i> 18 min.
						<div>
							<i class="fa fa-comments"></i> <a href="javascript:;">8</a>
						</div>
					</div>
				</li>


				<li class="clearfix ar-thread-row">
					<div class="img" style="font-size: 20px;">
						<i class="glyphicon glyphicon-circle-arrow-right"></i>
					</div>
					<div class="title">
						<a href="#">Карты кладов</a>
						<div>Вся информация о картах кладов, собранная в одном месте.</div>
					</div>
					<div class="post-time">
						Вчера в 14:17 <a href="#">Sentinel</a> 
					</div>
					<div class="time-ago ar-ta-fx">
						<i class="fa fa-clock-o"></i> 49 min.
						<div>
							<i class="fa fa-comments"></i> <a href="javascript:;">5</a>
						</div>
					</div>
				</li>

				<li class="clearfix ar-thread-row">
					<div class="img" style="font-size: 20px; color: #e84e40;">
						<i class="glyphicon glyphicon-heart"></i>
					</div>
					<div class="title">
						<a href="#">Система ядов</a>
						<div>Все о ядах, используемых ассассинами.</div>
					</div>
					<div class="post-time">
						Вчера в 12:10 <a href="#">Feron</a> 
					</div>
					<div class="time-ago ar-ta-fx">
						<i class="fa fa-clock-o"></i> 53 min.
						<div>
							<i class="fa fa-comments"></i> <a href="javascript:;">14</a>
						</div>
						<div>
							<i class="fa fa-heart" style="color: red;"></i> <a href="javascript:;">2</a>
						</div>
					</div>
				</li>

			</ul>
		</div>
	</div>
</div>


<div class="col-lg-6 col-md-6 col-sm-6">
	<div class="main-box clearfix project-box emerald-box">
		<div class="main-box-body clearfix">
			<div class="project-box-header emerald-bg">
				<div class="name">
					<a href="#">
					Статистика форума
					</a>
				</div>
			</div>
			<div class="project-box-content">
				<span class="chart" data-percent="43" jq-easy-pie-chart>
					<span class="percent">43</span>%<br>
					<span class="lbl">эффективности</span>
					<span>+4 опыта</span>
					<canvas height="130" width="130"></canvas>
				</span>
			</div>
			<div class="project-box-footer clearfix">
				<a href="#">
					<span class="value">30</span>
					<span class="label">Сообщений</span>
				</a>
				<a href="#">
					<span class="value">13</span>
					<span class="label">Полезных</span>
				</a>
				<a href="#">
					<span class="value">4</span>
					<span class="label">Темы</span>
				</a>
			</div>
			<div class="project-box-ultrafooter clearfix">

				<h4 style="text-align:right;margin-top:0px;">Активные пользователи</h4>

				<img class="project-img-owner" alt="" src="http://lorempixel.com/56/56/people/7/" ar-tooltip title="" data-original-title="Petrot">

				<img class="project-img-owner" alt="" src="http://lorempixel.com/56/56/people/1/" ar-tooltip title="" data-original-title="DM Астрея">

				<img class="project-img-owner" alt="" src="http://lorempixel.com/56/56/people/8/" ar-tooltip title="" data-original-title="Feron">

				<img class="project-img-owner" alt="" src="http://lorempixel.com/output/people-q-c-44-44-4.jpg" ar-tooltip title="" data-original-title="Sentinel">

				<a href="#" class="link pull-right">
					<i class="fa fa-arrow-circle-right fa-lg"></i>
				</a>
			</div>
		</div>
	</div>
</div>