<div class="panel panel-default ar-mr-rd">
    <div class="panel-body ar-pd-rd" ng-click="selectThread()">

	    <div class="col-md-1">
	    	<i class="mdi-communication-comment ar-spec-blue"></i>
	    	<span class="label label-success"><i class="mdi-maps-beenhere"></i></span>
	    </div>
	    <div class="col-md-7">
	    	<a href="javascript:;" class="ar-incr-we">Таблица крафта.</a>
	        <div>
	        	<small>Информация, связанная с крафт системой Сиалы</small>
	        </div>
	    </div>
	    <div class="col-md-4">
	        	<ul class="nav nav-pills ar-rd-sz"> 
	        		<li class="">
	        			<a href="javascript:void(0)" class="ar-pd-lnk-rd">Постов <span class="badge">5</span></a>
	        		</li> 
	        	</ul>
	        	<div class="ar-fl-r">
	        		<small class="ar-rd-fs">Последний от: <a href="javascript:;" data-toggle="tooltip" data-placement="right" title="" data-original-title="19/12/14 at 12:19" jq-tooltip>Sentinel <i class="mdi-social-person"></i></a></small>
	        	</div>
	        	<i class="mdi-av-play-arrow ar-ar-pos"></i>
	    </div>

        

    </div>
</div>

<div class="panel panel-default ar-mr-rd">
    <div class="panel-body ar-pd-rd">

	    <div class="col-md-1">
	    	<i class="mdi-communication-comment ar-spec-blue"></i>
	    	<span class="label label-success">!</span>
	    </div>
	    <div class="col-md-7">
	    	<a href="javascript:;" class="ar-incr-we">FAQ по билдам и классам.</a>
	        <div>
	        	<small>Краткий гайд о том как не запороть персонажа.</small>
	        </div>
	    </div>
	    <div class="col-md-4">
	        	<ul class="nav nav-pills ar-rd-sz"> 
	        		<li class="">
	        			<a href="javascript:void(0)" class="ar-pd-lnk-rd">Постов <span class="badge">3</span></a>
	        		</li> 
	        	</ul>
	        	<div class="ar-fl-r">
	        		<small class="ar-rd-fs">Последний от: <a href="javascript:;" data-toggle="tooltip" data-placement="right" title="" data-original-title="19/12/14 at 3:27" jq-tooltip>traa <i class="mdi-social-person"></i></a></small>
	        	</div>
	        	<i class="mdi-av-play-arrow ar-ar-pos"></i>
	    </div>

        

    </div>
</div>





<div class="panel panel-default ar-mr-rd">
    <div class="panel-body ar-pd-rd">

	    <div class="col-md-1">
	    	<i class="mdi-communication-comment ar-spec-blue"></i>
	    	
	    </div>
	    <div class="col-md-7">
	    	<a href="javascript:;" class="ar-incr-we">Информация о подключении.</a>
	        <div>
	        	<small>Ссылки, гайды и прочие материалы, необходимые для подключения к шарду.</small>
	        </div>
	    </div>
	    <div class="col-md-4">
	        	<ul class="nav nav-pills ar-rd-sz"> 
	        		<li class="">
	        			<a href="javascript:void(0)" class="ar-pd-lnk-rd">Постов <span class="badge">1</span></a>
	        		</li> 
	        	</ul>
	        	<div class="ar-fl-r">
	        		<small class="ar-rd-fs">Последний от: <a href="javascript:;" data-toggle="tooltip" data-placement="right" title="" data-original-title="19/12/14 at 3:19" jq-tooltip>traa <i class="mdi-social-person"></i></a></small>
	        	</div>
	        	<i class="mdi-av-play-arrow ar-ar-pos"></i>
	    </div>

        

    </div>
</div>

<div class="panel panel-default ar-mr-rd">
    <div class="panel-body ar-pd-rd">

	    <div class="col-md-1">
	    	<i class="mdi-communication-comment ar-spec-blue"></i>
	    	<span class="label label-success">!</span>
	    </div>
	    <div class="col-md-7">
	    	<a href="javascript:;" class="ar-incr-we">Обсуждение нового форума.</a>
	        <div>
	        	<small>Все идеи, предложения и пожелания могут быть обсуждены здесь.</small>
	        </div>
	    </div>
	    <div class="col-md-4">
	        	<ul class="nav nav-pills ar-rd-sz"> 
	        		<li class="">
	        			<a href="javascript:void(0)" class="ar-pd-lnk-rd">Постов <span class="badge">13</span></a>
	        		</li> 
	        	</ul>
	        	<div class="ar-fl-r">
	        		<small class="ar-rd-fs">Последний от: <a href="javascript:;" data-toggle="tooltip" data-placement="right" title="" data-original-title="19/12/14 at 2:19" jq-tooltip>traa <i class="mdi-social-person"></i></a></small>
	        	</div>
	        	<i class="mdi-av-play-arrow ar-ar-pos"></i>
	    </div>

        

    </div>
</div>


