<div class="col-lg-6 col-md-6 col-sm-6">
	<div class="main-box feed">
		<header class="main-box-header clearfix">
			<h2 class="pull-left">База знаний</h2>
		</header>
		<div class="main-box-body clearfix">
			<ul>
				<li class="clearfix">
					<div class="img" style="font-size: 20px;">
						<i class="glyphicon glyphicon-pushpin"></i>
					</div>
					<div class="title">
						<a href="#">Общая информация о шарде</a>
						<div>Как подключиться, какую версию клиента использовать, где скачать хакпаки и многое-многое другое</div>
					</div>
					<div class="post-time">
						Сегодня в 15:12 <a href="#">DM Астрея</a> 
					</div>
					<div class="time-ago">
						<i class="fa fa-clock-o"></i> 5 min.
					</div>
				</li>

				<li class="clearfix">
					<div class="img" style="font-size: 20px;">
						<i class="glyphicon glyphicon-circle-arrow-right"></i>
					</div>
					<div class="title">
						<a href="#">Изменения в балансе</a>
						<div>Все изменения, касающиеся классов, рас, фитов и умений персонажей</div>
					</div>
					<div class="post-time">
						Сегодня в 5:22 <a href="#">truthatenvy</a> 
					</div>
					<div class="time-ago">
						<i class="fa fa-clock-o"></i> 18 min.
					</div>
				</li>


				<li class="clearfix">
					<div class="img" style="font-size: 20px;">
						<i class="glyphicon glyphicon-circle-arrow-right"></i>
					</div>
					<div class="title">
						<a href="#">Карты кладов</a>
						<div>Вся информация о картах кладов, собранная в одном месте.</div>
					</div>
					<div class="post-time">
						Вчера в 14:17 <a href="#">Sentinel</a> 
					</div>
					<div class="time-ago">
						<i class="fa fa-clock-o"></i> 49 min.
					</div>
				</li>

				<li class="clearfix">
					<div class="img" style="font-size: 20px; color: #e84e40;">
						<i class="glyphicon glyphicon-heart"></i>
					</div>
					<div class="title">
						<a href="#">Система ядов</a>
						<div>Все о ядах, используемых ассассинами.</div>
					</div>
					<div class="post-time">
						Вчера в 12:10 <a href="#">Feron</a> 
					</div>
					<div class="time-ago">
						<i class="fa fa-clock-o"></i> 53 min.
					</div>
				</li>

			</ul>
		</div>
	</div>
</div>


<div class="col-lg-4 col-md-6 col-sm-6">
	<div class="main-box clearfix project-box emerald-box">
		<div class="main-box-body clearfix">
			<div class="project-box-header emerald-bg">
				<div class="name">
					<a href="#">
					The Fighter
					</a>
				</div>
			</div>
			<div class="project-box-content">
				<span class="chart" data-percent="39" jq-easy-pie-chart>
					<span class="percent">39</span>%<br>
					<span class="lbl">completed</span>
					<canvas height="130" width="130"></canvas>
				</span>
			</div>
			<div class="project-box-footer clearfix">
				<a href="#">
					<span class="value">12</span>
					<span class="label">Tasks</span>
				</a>
				<a href="#">
					<span class="value">1</span>
					<span class="label">Alerts</span>
				</a>
				<a href="#">
					<span class="value">82</span>
					<span class="label">Messages</span>
				</a>
			</div>
			<div class="project-box-ultrafooter clearfix">
				<img class="project-img-owner" alt="" src="img/samples/scarlet-159.png" ar-tooltip title="" data-original-title="Scarlett Johansson">

				<img class="project-img-owner" alt="" src="img/samples/lima-300.jpg" ar-tooltip title="" data-original-title="Adriana Lima">

				<img class="project-img-owner" alt="" src="img/samples/emma-300.jpg" ar-tooltip title="" data-original-title="Emma Watson">

				<img class="project-img-owner" alt="" src="img/samples/angelina-300.jpg" ar-tooltip title="" data-original-title="Angelina Jolie">

				<a href="#" class="link pull-right">
					<i class="fa fa-arrow-circle-right fa-lg"></i>
				</a>
			</div>
		</div>
	</div>
</div>