<select ng-model="gameclass" class="select form-control floating-label" placeholder="{{::('Choose your class' | translate)}}" jq-dropdown id="gameclass_input">
                    <option value="arcanearcher">Arcane Archer</option>
                    <option value="assassin">Assassin</option>
                    <option value="barbarian">Barbarian</option>
                    <option value="bard">Bard</option>
                    <option value="blackguard">Blackguard</option>
                    <option value="championoftorm">Champion of Torm</option>
                    <option value="cleric">Cleric</option>
                    <option value="druid">Druid</option>
                    <option value="dwarverdefender">Dwarven Defender</option>
                    <option value="druid">Druid</option>
                    <option value="fighter">Fighter</option>
                    <option value="harperscout">Harper Scout</option>
                    <option value="monk">Monk</option>
                    <option value="paladin">Paladin</option>
                    <option value="palemaster">Pale Master</option>
                    <option value="ranger">Ranger</option>
                    <option value="reddragondisciple">Red Dragon Disciple</option>
                    <option value="rogue">Rogue</option>
                    <option value="shadowdancer">Shadowdancer</option>
                    <option value="shifter">Shifter</option>
                    <option value="sorcerer">Sorcerer</option>
                    <option value="weaponmaster">Weapon Master</option>
                    <option value="wizard">Wizard</option>
</select>
