<div ng-switch="mode" class="ar-anim-vert-container " >
    <!-- LIST OF FORUMS -->
    <div ng-switch-when="normal" class="ar-vertical-collapse">
        
        <div class="well">
            <div class="list-group">

                <div class="list-group-item ar-no-padding-lr">
                    <div class="row-action-primary ar-pd-r-10">
                        <i class="mdi-action-assignment-late ar-wh-rd-2"></i>
                    </div>
                    <div class="row-content">
                        
                        <h5 class="list-group-item-heading ar-fs-rd">Новости</h5>
                        <p class="list-group-item-text ar-fs-rd-2">Апдейты, ивенты и прочие новости от администрации.</p>
                    </div>
                    <i class="mdi-av-play-arrow ar-ar-pos"></i>
                </div>


                <div class="list-group-separator"></div>

                <div class="list-group-item ar-no-padding-lr">
                    <div class="row-action-primary ar-pd-r-10">
                        <i class="mdi-action-extension ar-wh-rd"></i>
                    </div>
                    <div class="row-content">
                        
                        <h5 class="list-group-item-heading ar-fs-rd">Общий форум</h5>
                        <p class="list-group-item-text ar-fs-rd-2">Дискуссии обо всем в игре. Флуд запрещен.</p>
                    </div>
                    <i class="mdi-av-play-arrow ar-ar-pos"></i>
                </div>


                <div class="list-group-separator"></div>


                <div class="list-group-item ar-no-padding-lr">
                    <div class="row-action-primary ar-pd-r-10">
                        <i class="mdi-action-extension ar-wh-rd"></i>
                    </div>
                    <div class="row-content">
                     
                        <h5 class="list-group-item-heading ar-fs-rd">Уголок Манча</h5>
                        <p class="list-group-item-text ar-fs-rd-2">Билды, таблицы и стратегии развития персонажа.</p>
                    </div>
                    <i class="mdi-av-play-arrow ar-ar-pos"></i>
                </div>

                <div class="list-group-separator"></div>
        </div>
    </div>

    </div>

    <!-- VERTICALLY COLLAPSED -->
    <div ng-switch-default class="ar-vertical-collapse">


        <div class="well" class="">
            <div class="list-group">

                <div class="list-group-item ar-no-padding-lr">
                    <div class="row-action-primary ar-pd-r-10">
                        <i class="mdi-action-assignment-late ar-wh-rd-2"></i>
                    </div>
                    <div class="row-content">
                        
                    </div>
                    <i class="mdi-av-play-arrow ar-ar-pos"></i>
                </div>


                <div class="list-group-separator"></div>

                <div class="list-group-item ar-no-padding-lr">
                    <div class="row-action-primary ar-pd-r-10">
                        <i class="mdi-action-extension ar-wh-rd"></i>
                    </div>
                    <div class="row-content">
                        
                    </div>
                    <i class="mdi-av-play-arrow ar-ar-pos"></i>
                </div>


                <div class="list-group-separator"></div>


                <div class="list-group-item ar-no-padding-lr">
                    <div class="row-action-primary ar-pd-r-10">
                        <i class="mdi-action-extension ar-wh-rd"></i>
                    </div>
                    <div class="row-content">
                     

                    </div>
                    <i class="mdi-av-play-arrow ar-ar-pos"></i>
                </div>

                <div class="list-group-separator"></div>
        </div>
    </div>
   
    </div>
</div>


