<footer class="footer">
  <div class="container">
   <div class="row">
      <div class="col-xs-6 col-md-4">
          <h5>
          {{::('Connect' | translate)}}: <strong>193.108.209.210:5121</strong>
          </h5>
      </div>
      <div class="col-xs-6 col-md-4">
            <h6 style="margin-bottom: 5px;">armstro-ng@{{::('@VERSION' | translate)}}</h6>
            <h5 style="margin:0;">
                <i class="mdi-action-extension ar-red-footer-icon"></i>
                truthatenvy
            </h5>
      </div>
      <div class="col-xs-6 col-md-4">
          
         <div class="icon-preview">
            <h5 style="float:right;">stagedown@gmail.com</h5>
            <i class="mdi-action-bug-report ar-fs-lg ar-footer-icon"></i> 
          </div>


      </div>
    </div>
  </div>
</footer>