

<!-- <side-menu-widget isauth="isauth"></side-menu-widget> -->

<!-- <side-forum-list isauth="isauth"></side-forum-list>  -->

<div id="nav-col">
    <section id="col-left" class="col-left-nano">
        <div id="col-left-inner" class="col-left-nano-content">
            <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav"> 
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-header nav-header-first hidden-sm hidden-xs" translate>
                        Navigation
                    </li>
                    <li>
                        <a href="javascript:;" ui-sref="home">
                            <i class="glyphicon glyphicon-bullhorn" style="margin-top: 14px;"></i>
                            <span translate>What's new</span>
                            <span class="label label-primary label-circle pull-right">28</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" ui-sref="home">
                            <i class="fa fa-envelope"></i>
                            <span translate>Messages</span>
                            
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" ui-sref="home">
                            <i class="fa fa-star"></i>
                            <span translate>Bookmarks</span>
                            <span class="label label-primary label-circle pull-right" style="width:18px;">4</span>
                            
                        </a>
                    </li>
                   

                    <li class="nav-header hidden-sm hidden-xs" translate>
                        Forums
                    </li>
                    <li>
                        <a href="javascript:;" class="dropdown-toggle" dropdown-toggle>
                            <i class="fa fa-institution"></i>
                            <span translate>Knowledge base</span>
                            <i class="fa fa-angle-right drop-icon"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="javascript:;" class="ar-pd-lft" us-sref="home">
                                    
                                    <i class="fa fa-coffee" style="color:red;"></i>
                                    <span ar-tooltip data-original-title="Фиксы, правки, изменения в балансе и прочие нюансы, важные для комфортной игры.">Особенности Сиалы</span>
                                    <!-- <span class="label label-danger label-circle pull-right" style="width:18px;margin-top:10px;margin-right:4px;">
                                        <i class="fa fa-microphone"></i> -->
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="ar-pd-lft" us-sref="home">
                                    
                                    <i class="fa fa-coffee"></i>
                                    <span ar-tooltip data-original-title="Архив новостей от летописца Гаулдура">Архив Гаулдура</span>
                                    
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" dropdown-toggle>
                            <i class="fa fa-group"></i>
                            <span>Гильдии</span>
                            <i class="fa fa-angle-right drop-icon"></i>
                        </a>
                        <ul class="submenu">
                           
                            <li>
                                
                                <a href="javascript:;" class="ar-pd-lft" us-sref="home">
                                    
                                    <i class="fa fa-coffee"></i>
                                    <span ar-tooltip data-original-title="Организация, охраняющая безопасность Валиостра">Королевские песочники</span>
                                    
                                </a>

                            </li>
                            <li>
                                
                                <a href="javascript:;" class="ar-pd-lft" us-sref="home">
                                    
                                    <i class="fa fa-coffee"></i>
                                    <span ar-tooltip data-original-title="Основная ударная сила Неназываемого, следящая за порядком в Рачьем Герцогстве">Черная Инквизиция</span>
                                    
                                </a>

                            </li>
                           
                           
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </section>
    <div id="nav-col-submenu"></div>
</div>


