<!-- <div class="btn-group">
    <a href="javascript:void(0)" class="btn btn-info" translate>@Actions</a>
    <a href="javascript:void(0)" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="javascript:void(0)">Action</a></li>
        <li><a href="javascript:void(0)">Another action</a></li>
        <li><a href="javascript:void(0)">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="javascript:void(0)">Separated link</a></li>
    </ul>
</div> -->

<side-menu-widget isauth="isauth"></side-menu-widget>


